  #headshotContainer {
    z-index: -10;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90vh;
    background-color: $secondary-light-color;

    img {
      position: absolute;
      bottom: 0;
      height: 300px;
      width: auto;
      border: none;
      margin: 0;
      padding: 0;
      background-color: $secondary-light-color;
    }
  }
