#headshotContainer {
    position: absolute;
    top: 120px;
    width: 100vw;

    img {
        position: absolute;
        height: 300px;
        width: auto;
        border: none;
        margin: 0;
        padding: 0;
        right: 0;
    }
    h2 {
        font-family: $neon-font-family;
        padding: 10px 0 0;
        margin-bottom: 0;
    }
}

#aboutText {
    color: white;
    padding: 140px 7vw 10px 7vw;
}

.largeText {
    font-size: calc(14px + .2vw);
}
