.row {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1000px){
      .item {
        max-width: 500px;
        margin: auto;
      }
    }

    @media screen and (min-width: 1000px) {
      .item {
        max-width: 30vw;
        margin: auto;
      }
    }

    .item {
      transition: all .5s ease;

      #tags {
        color: $secondary-medium-color;

      }

      h2 {
        font-family: $script-font-family;
        color: $secondary-light-color;
      }

      a {
        text-decoration: none;
      }

      img {
        min-height: 200px;
        max-height: 350px;
        width: auto;
      }
    }
  }
