.header {
  z-index: -2;
  min-height: 150px;

h1 {
  position: absolute;
  left: 10px;
  font-size: calc(42px + 1vw);
  top: calc(30px + 4vw);
  font-family: $neon-font-family;
  margin-top: 50px;
  color: black;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 3px rgba(0,0,0,0.67);

}

  #bars {
  padding-bottom: 20px;
  z-index: -1;
  position: absolute;
  top: 4vw;
  left: 0;
  max-width: 100vw;
  overflow:hidden;
}

.bar {
  height: 2px;
}

.thin {
  margin-top: 3px;
}

.med {
  margin-top: 5px;
}

.thick {
  margin-top: 7px;
}

.super {
  margin-top: 9px;
}

.light {
  background-color: white;
}

.neonBars {
  //display and transform keep safari from cutting off text-shadow
  display: block;
  -webkit-transform: translateZ(0);
box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $secondary-light-color, 0 0 30px $secondary-light-color, 0 0 40px $secondary-light-color, 0 0 50px $secondary-light-color, 0 0 75px $secondary-light-color;
}

}
