
    .jumbotron {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://static.pexels.com/photos/597331/pexels-photo-597331.jpeg) no-repeat;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
        padding: 40px;
        .text {
            position: relative;
            border-radius: 10px;
            max-width: 300px;
            margin-top: 8vh;
            text-align: center;
            color: $primary-light-color;
            h1 {
                margin-bottom: 2vw;
            }
            .button {
                margin-top: 2vw;
                color: $primary-light-color;
                border: solid 5px $secondary-medium-color;
                background: $secondary-medium-color;
                transition: all .5s ease;
                &:hover {
                    background: $primary-light-color;
                    border-color: $secondary-dark-color;
                    ;
                    color: $secondary-dark-color;
                }
                &:active {
                    background: $secondary-light-color;
                }
                &:focus {
                    outline: 0;
                }
            }
        }
    }
