#homeSection {
  width: 100%;

  .jumbotron {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, .3) 100%), url(https://static.pexels.com/photos/597331/pexels-photo-597331.jpeg) no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100vw;
    padding: 10vw;


    #home-text {
      position: relative;
      border-radius: 10px;
      max-width: 300px;
      margin-top: 100px;

      h1 {
        font-family: $script-font-family;
        font-weight: 900;
        margin-bottom: 2vw;
        font-size: calc(32px + 3vw);
      }

      button {
        margin-top: 2vw;
        color: $primary-light-color;
        border: solid 5px $secondary-medium-color;
        background: $secondary-medium-color;transition: all .5s ease;

        &:hover {
          background: $primary-light-color;
          border-color: $secondary-dark-color;
          ;
          color: $secondary-dark-color;
        }

        &:active {
          background: $secondary-light-color;
        }

        &:focus {outline:0;}

      }
    }
  }
}
