nav {
    padding-top: .2em;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: all .5s ease-in-out;
    &.solid {
        background-color: $primary-dark-color;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    ul {
        position: relative;
        left: -20px;
        width: 100%;
        font-family: $script-font-family;


        @media screen and (min-width: 600px) {
            #logo {
                display: inline-block;
                font-size: calc(12px + 1.5vw);
                padding: 1vw;
                transition: all .5s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
            a,
            button {
                font-size: calc(8px + 1.5vw);
                padding: 1.2vw;
            }
        }

        @media screen and (max-width: 600px) {
            #logo {
                display: none;
            }
            a,
            button {
                font-size: 16px;
                padding: 7px;
            }
        }

        .right>a {
            position: relative;
            text-decoration: none;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #fff;
                box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $secondary-light-color, 0 0 30px $secondary-light-color, 0 0 40px $secondary-light-color, 0 0 50px $secondary-light-color, 0 0 75px $secondary-light-color;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        a,
        button {
            position: relative;
            font-family: $script-font-family;
            text-decoration: none;
            transition: all .3s ease;
            display: inline-block;
            border: none;
            background-color: transparent;
            color: $secondary-light-color;
            &:hover,
            &:visited {
                color: $secondary-light-color;
                text-decoration: none;
            }
            &.active {
                color: #befffb;
                text-decoration: none;
            }
        }
        #social {
            position: absolute;
            top: calc(20px + 5vw);
            width: calc(12px + 1vw + .2em);
            right: -200px;
            transition: all .7s ease-in-out;
            display: block;
            &.show {
                transform: translateX(calc(-220px + -3vw));
            }
            button {
                padding: 0;
                &:hover {
                    transform: scale(1.5);
                }
                span {
                    font-size: calc(30px + 1vw);
                    color: $secondary-light-color;
                    transition: all 1s ease;
                    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                    &:hover {
                        //display and transform keep safari from cutting off text-shadow
                        display: block;
                        -webkit-transform: translateZ(0);
                        color: #fff;
                        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $secondary-light-color, 0 0 30px $secondary-light-color, 0 0 40px $secondary-light-color, 0 0 50px $secondary-light-color, 0 0 75px $secondary-light-color;
                    }
                }
            }
        }
    }
}
