nav {
    padding-top: .8em;
    padding-bottom: .3em;
    width: 100%;
    background-color: rgbv(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    transition: all .5s ease-in-out;
    &.solid {
        background-color: $primary-medium-color;
    }
    ul {
        a, button {
            border: none;
            background-color: transparent;
            text-decoration: none;
            font-size: calc(.7em + 1vw);
            color: $secondary-dark-color;
            padding: .3em;
            margin: .5vw;
            transition: all .2s ease;
            &:hover {
                text-decoration: none;
                border-bottom: solid 3px $primary-dark-color;
            };
            &:focus {
                outline: none;
            }
            &.active {
                text-decoration: none;
                color: $primary-dark-color;
            }
        }
        #social {
            position: absolute;
            top: .8em;
            right: -220px;
            transition: all .7s ease-in-out;
            &.show {
                transform: translateX(-250px);
            }
        }

        @media screen and (max-width: 560px) {
            #social {
                top: calc(.8em + 40px);
                button {
                    display: block;
                }
            }
        }
        @media screen and (min-width: 560px){
            #social {
                button {
                    display: inline-block;
                }
            }
        }
    }
}
