#servicesSection {
  h3 {
    color: $secondary-medium-color;
  }

  @media screen and (max-width: 700px){
    .item {
      max-width: 500px;
      margin: auto;
    }
  }

  @media screen and (min-width: 700px) {
    .item {
      max-width: 40vw;
    }
  }
}
