nav {

  a {
    font-size: calc(12px + 1vw);
    text-decoration: none;
    color: white;

    &:hover {
    text-decoration: none;
    color: lightblue;
    }
  }

  .active {
    text-decoration: none;
    color: lightcoral;
  }

 /* Position and sizing of burger button */
  .bm-burger-button, .bm-cross-button {
    position: fixed;
   font-size: 30px;
    left: 20px;
    top: 10px;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    color: #bdc3c7;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
