nav {

  a {
    font-size: calc(14px + 1vw);
    text-decoration: none;
    color: $secondary-light-color;
    padding: 5px 0px 5px 40px;
    margin-bottom: 3px;

    &:hover, &:active {
    text-decoration: none;
    color: $primary-light-color;
    border-left: solid 4px $secondary-medium-color;
    }
  }

  .active {
    text-decoration: none;
    color: $primary-light-color;
    border-left: solid 4px $secondary-medium-color;
  }

 /* Position and sizing of burger button */
  .bm-burger-button, .bm-cross-button {
    position: fixed;
    font-size: calc(30px + 1vw);
    left: 20px;
    top: 10px;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    color: #bdc3c7;
  }
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    font-size: 1.15em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding-top: 5em;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
