#servicesSection {
  .skill {

    padding: 10px;
    img {
      padding: 10px;
      max-width: calc(75px + 3vw);
     }
  }

  h2 {
    font-family: $neon-font-family;
    color: $secondary-light-color;
    padding-top: 20px;
    font-size: 36px;
  }
  h3 {
    color: $secondary-light-color;
  }

  @media screen and (max-width: 700px){
    .item {
      max-width: 500px;
      margin: auto;
    }
  }

  @media screen and (min-width: 700px) {
    .item {
      max-width: 45vw;
    }
  }

  p {
    color: white;
    line-height: 22px;
  }
}
