#servicesSection {
    .skill {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 10px;
        margin: auto;
        align-items: flex-start;
        .threes {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around;
            margin: auto;
            height: auto;
        }
        p {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        img {
            padding-top: 30px;
            max-width: calc(145px + 2vw);
        }
    }
    h2 {
        font-family: $neon-font-family;
        color: $secondary-light-color;
        padding: 0;
        margin: 20px 0 0;
        font-size: 36px;
    }
    h3 {
        color: $secondary-light-color;
    }
    @media screen and (max-width: 700px) {
        .item {
            margin: auto;
            max-width: 450px;
        }
    }
    @media screen and (min-width: 700px) {
        .item {
            max-width: 28vw;
            margin: auto;
            height: 330px;
        }
    }
    p {
        color: white;
        line-height: 22px;
    }
}
