#servicesSection {
  h2 {
    font-family: $neon-font-family;
    padding-top: 20px;
    font-size: 36px;
  }
  h3 {
    color: $secondary-light-color;
  }

  @media screen and (max-width: 700px){
    .item {
      max-width: 500px;
      margin: auto;
    }
  }

  @media screen and (min-width: 700px) {
    .item {
      max-width: 45vw;
    }
  }

  p {
    color: white;
    line-height: 22px;
  }
}
