.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    .item {
      max-width: calc(250px + 10vw);
      transition: all .5s ease;
      padding: 10px 10px 30px;
      #tags {
        color: $secondary-medium-color;
      }

      h2 {
        font-family: $script-font-family;
        color: $secondary-light-color;
        padding: 0;
        margin: 2px;
        font-size: 20px;
        font-weight: 100;
      }

      a {
        text-decoration: none;
      }

      img {
        padding: auto;
        margin: auto;
        height: calc(100px + 8vw);
        width: auto;
      }
      .outline-button {
        margin: 0 3px;
        font-size: calc(14px + .2vw);
        color: white;
        padding: 4px;
        border: solid 2px $secondary-light-color;
        background: transparent;
        transition: all .5s ease;
        &:hover {
            background: $primary-medium-color;
            border-color: $secondary-dark-color;
            color: $secondary-dark-color;
        }
        &:active {
            color: $primary-dark-color;
            background: $secondary-light-color;
        }
    }
    }
  }
