$font-family-main: "Lato", sans-serif;
$script-font-family: "Knewave";
$primary-dark-color: #0b0c10;
$primary-medium-color: #0E131C;
$primary-light-color: #c5c6c7;
$secondary-light-color: #66fcf1;
$secondary-medium-color: #45a29e;
$secondary-dark-color:#45a29e;

* {
    box-sizing: border-box;
    &:focus {
        outline: 0;
    }
}

body {
    background-color: $primary-dark-color;
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
    color: $primary-light-color;
    width: 100%;
    height: 100%;
    .neon {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $secondary-light-color, 0 0 30px $secondary-light-color, 0 0 40px $secondary-light-color, 0 0 50px $secondary-light-color, 0 0 75px $secondary-light-color;
        letter-spacing: 8px;
    }
    h1 {
        color: $secondary-light-color;
        font-family: $script-font-family;
        font-size: calc(40px + 3vw);
        font-weight: 100;
        margin-bottom: 0.6em;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
    main {
        width: 100%;
        height: 100vh;
        .centered-container {
            padding-left: 2em;
            padding-right: 2em;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
        .fa {
            font-size: calc(50px + 2vw);
            padding: 20px 15px 0 15px;
        }
        .section {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            padding: 4vw 0;
        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .item {
            padding: 0 1vw 4vw;
            text-align: center;
            img {
                width: 100%;
                height: auto;
                padding: 2px;
            }
            h2,
            p {
                text-decoration: none;
                padding: 5px;
            }
        }
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

@import '_navbar';
@import '_home';
@import '_about';
@import '_work';
@import '_animations';
@import '_shadows';
@import '_header';
@import '_skills';
